$bgdark: #0e1621;
$bg: #17212b;
$bgdarker: mix($bgdark, #000, 80%);
$bglight: #242f3d;
$border: #101921;
$button: #2e70a5;
$text: mix(#fff, $bglight, 87%);
$textlight: #7f92a4;
$textblue: #73bbf5;

$hint: #6c7883;

html,
body,
.bt-layer-content {
	background: $bgdark;
}

a,
a:hover {
	color: $textblue;
}

header,
.bt-layer-block + .bt-layer-block::before {
	background: $bg;
}

a.bt-card-row:hover {
	background: $bg;
}

header.sticky .sticky-box,
header .header-wrap {
	background: $bg;
}

// .thumb-color3 {
// 	background-color: rgba(#76c84d, 50%);
// }

.bt-card-thumb:not(.thumb-icon) {
	background-color: $bgdark;
}

.thumb-color0 {
	// background-color: #e56555;
	background-color: #c65345;
}
.thumb-color1 {
	// background-color: #f28c48;
	background-color: #d06e2d;
}
.thumb-color2 {
	// background-color: #8e85ee;
	background-color: #564ea8;
}
.thumb-color3 {
	// background-color: #76c84d;
	background-color: #3d6a26;
}
.thumb-color4 {
	// background-color: #5fbed5;
	background-color: #0f4957;
}
.thumb-color5 {
	// background-color: #549cdd;
	background-color: #477aa8;
}
.thumb-color6 {
	// background-color: #f2749a;
	background-color: #b55773;
}
.thumb-color7 {
	// background-color: #ebb136;
	background-color: #b3861e;
}

.bt-card-thumb-status {
	border-top: 2px solid $bgdark;
	background: #2c6c29;
}

body,
.bt-card-title,
.bt-issue-title .cd-author,
.bt-comment-author,
header .breadcrumb > .active,
header .breadcrumb > .active a {
	color: $text;
}

.form-control {
	color: $text;
	&::placeholder {
		color: $hint;
	}
	&:focus::placeholder {
		color: mix($text, $bglight, 20%);
	}
}

.input.empty[data-placeholder]::before {
	color: $hint;
}

.input.empty[data-placeholder]:focus::before {
	color: mix($text, $bglight, 20%);
}

a.bt-comment-reply-content .bt-comment-head {
	color: $textblue;
}

.bt-card-preview,
a.bt-comment-reply-content {
	color: mix($text, $bgdark, 75%);
}

.bt-comment-reply-content::before {
	border-color: $textblue;
}

.bt-issue-footer,
.cd-issue-like,
.cd-issue-dislike,
.cd-issue-replies,
.bt-issue-subscribe,
.bt-issue-trending,
.bt-issue-actions .bt-issue-copy-link {
	color: $textlight;
}

.cd-issue-like .icon use,
.cd-issue-dislike .icon use,
.cd-issue-replies .icon use,
.bt-issue-subscribe .icon use,
.bt-issue-trending .icon use,
.bt-issue-actions .bt-issue-copy-link .icon use {
	fill: $textlight;
}

.select,
.bt-main-search-form .select {
	background-color: $bglight;
	box-shadow: inset 0 0 0 1px $bglight;
}

input.cd-form-control,
textarea.cd-form-control,
.input.cd-form-control {
	box-shadow: inset 0 -1px 0 $bglight;
}

.cd-comment-input-wrap .input.cd-comment-input {
	border-color: $bglight;
}

.select .items-list {
	background: $bgdarker;
}

.bt-comments-more {
	background-color: $bg;
	color: $textlight;
	&:hover {
		background-color: $bglight;
	}
}

.bt-comment.highlight {
	background: $bglight;
}

.bt-sort-item.selected,
.bt-sort-item.selected:hover {
	color: $text;
}

.bt-layer-close:hover,
.bt-menu-btn.dropdown-toggle:hover,
.open .bt-menu-btn.dropdown-toggle,
.bt-action-btn.bt-reply-btn:hover,
.bt-action-btn.bt-action-menu-btn:hover,
.bt-subscription-delete-btn:hover {
	background-color: $bg;
}

.dropdown-menu {
	background-color: $bg;

	li.divider {
		background-color: mix($bglight, $textlight, 80%);
	}
}

.bt-dropdown-wrap span.dropdown-menu {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.bt-dropdown-wrap ul.dropdown-menu > li > .bt-dropdown-item {
	color: mix($text, $bg, 87%);
}

.bt-dropdown-wrap ul.dropdown-menu > li > a.bt-dropdown-item:hover,
.bt-dropdown-wrap ul.dropdown-menu > li > a.bt-dropdown-item:focus {
	background-color: $bglight;
	color: $text;
}

$open: #42cef9;
$aqua: #2fffeb;
$closed: #e67d2f;
$coming: #9abf40;
$fixed: #53c147;
$team: #ffc964;
$pink: #dd5b7f;
$violet: #c285ff;
$blue: #789aff;
$regular: $textlight;

@mixin pill-regular {
	color: $regular;
	background-color: mix($regular, $bgdarker, 15%);
}

@mixin pill-colors {
	&.c-aqua {
		color: $aqua;
		background-color: mix($aqua, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $aqua;
		}
	}
	&.c-cyan,
	&.internal {
		color: $open;
		background-color: mix($open, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $open;
		}
	}
	&.c-orange {
		color: $closed;
		background-color: mix($closed, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $closed;
		}
	}
	&.c-lightgreen {
		color: $coming;
		background-color: mix($coming, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $coming;
		}
	}
	&.c-green,
	&.private {
		color: $fixed;
		background-color: mix($fixed, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $fixed;
		}
	}
	&.c-pink {
		color: $pink;
		background-color: mix($pink, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $pink;
		}
	}
	&.c-blue {
		color: $blue;
		background-color: mix($blue, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $blue;
		}
	}
	&.c-violet {
		color: $violet;
		background-color: mix($violet, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $violet;
		}
	}
	&.team {
		color: $team;
		background-color: mix($team, $bgdarker, 15%);
		&.bt-dropdown .dd use {
			fill: $team;
		}
	}
}

.bt-select-query .select .search-item {
	.select-list-item {
		@include pill-regular;
		@include pill-colors;
	}

	&.selected {
		.select-list-item {
			&.c-aqua {
				background-color: mix($aqua, $bgdarker, 35%);
			}
			&.c-cyan,
			&.internal {
				background-color: mix($open, $bgdarker, 35%);
			}
			&.c-orange {
				background-color: mix($closed, $bgdarker, 35%);
			}
			&.c-lightgreen {
				background-color: mix($coming, $bgdarker, 35%);
			}
			&.c-green,
			&.private {
				background-color: mix($fixed, $bgdarker, 35%);
			}
			&.c-blue {
				background-color: mix($blue, $bgdarker, 35%);
			}
			&.c-pink {
				background-color: mix($pink, $bgdarker, 35%);
			}
			&.c-violet {
				background-color: mix($violet, $bgdarker, 35%);
			}
			&.team {
				background-color: mix($team, $bgdarker, 35%);
			}

			background-color: mix($regular, $bgdarker, 30%);
		}
	}
}

.bt-select-query .select .selected-item {
	&.c-orange {
		background-color: #c66120;
	}
	&.c-lightgreen {
		background-color: #638839;
	}
	&.c-pink {
		background-color: #a44d67;
	}
}

.bt-comment-service-text,
.bt-issue-tags .bt-status,
.bt-issue-tags .bt-tag,
.bt-subscription-tags .bt-status,
.bt-card-action .bt-status {
	@include pill-regular;
	@include pill-colors;

	.select-list-item {
		@include pill-regular;
		@include pill-colors;
	}
}

.bt-issue-cover {
	background: $bgdarker;
}

.bt-markdown pre,
.bt-markdown code {
	background: $bglight;
	color: mix($textlight, $text, 80%);
}

.bt-markdown hr {
	border-color: mix($bglight, $textlight, 80%);
}

.popup {
	background: $bg;
}

.toast-container .toast {
	background-color: rgba($bgdarker, 0.9);
}

.btn-link {
	color: $textblue;
}

.popup-buttons .btn-link:hover {
	background: $bglight;
	color: $textblue;
}

.bt-attach-btn-wrap .bt-attach-btn {
	background: $bg;
	&:hover {
		background: $bglight;
	}
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
	background: $bg;
}

.bt-comment-photo {
	background: $bg;
	.photo-char {
		color: $textlight;
	}
}

.bt-action-btn.bt-reply-btn .icon use {
	fill: $textlight;
}

.bt-issue-actions a.bt-issue-copy-link:hover,
.bot-report .bt-comment-author-name.cd-bot {
	color: $textlight;
}

.bot-feature .bt-comment-author-name.cd-bot {
	color: #53c147;
}

.cd-dialog-options .radio-item .radio-input + .radio-label {
	color: mix($text, $bg, 78%);
}

.cd-dialog-options.disabled input.radio:disabled ~ .radio-label {
	color: mix($text, $bg, 20%);
}

.cd-dialog-options.disabled input.radio:checked ~ .radio-label {
	color: $textblue;
}

.cd-issue-file-title {
	color: mix($text, $textblue, 65%);
}

.close:hover::before,
.close:hover::after {
	background: $text;
}

.bt-markdown-input > .CodeMirror {
	color: $text;
}

.CodeMirror {
	background: $bgdark;
}

.CodeMirror-cursor {
	border-left: 2px solid $button;
}

.bt-markdown-input > .CodeMirror {
	box-shadow: inset 0 -1px 0 $bglight;
}

.bt-markdown-input > .CodeMirror-focused {
	box-shadow: inset 0 -2px 0 #39ade7;
}

.bt-markdown-input .cm-s-default {
	.cm-comment {
		color: $textlight;
	}
	.cm-link {
		color: $textblue;
	}
}

.bt-card-action mark.highlight,
.bt-card-row-body mark.highlight {
	background: #5e4703;
}
